<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>
<nav>
    <a href="/">
        <h1>THE DESIGN SHOP</h1>
    </a>
    <a href="/add">ADD</a>
</nav>
<section class="grid">
    <%result.forEach(element=> { %>
        <figure>
            <img src=<%=`${element.product_pic_link}` %> alt="">
            <figcaption>
                <div class="brand">
                    <p>
                        <%= `${element.product}` %>
                    </p>
                    <p>
                        <%= `${element.price}` %>
                    </p>
                </div>
                <div class="shoplink">
                    <p>
                        <%= `${element.company}` %>
                    </p>
                    <a href=<%=`/item/${element._id}`%>>
                        <button>Details</button>
                    </a>
                </div>
            </figcaption>
        </figure>

        <% }) %>
</section>
<h1 class="bottom">THE DESIGN SHOP</h1>


<body>

</body>

</html>