<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/">
            <h1>THE DESIGN SHOP</h1>
        </a>
        <a href="/add">ADD</a>
    </nav>

    <form action="/update" method="post" class="form">
        <h1>EDIT PRODUCT</h1>
        <input type="hidden" name="id" value=<%=result._id %>>
        <div>
            <label for="">Product</label>
            <br>
            <input type="text" name="product" value=<%=result.product %> >
            <br>
        </div>
        <div>
            <label for="">Company</label>
            <br>
            <input type="text" name="company" value=<%=result.company %>>
            <br>
        </div>
        <div>
            <label for="">Price</label>
            <br>
            <input type="text" name="price" value=<%=result.price %>>
            <br>
        </div>
        <div>
            <label for="">Product Link</label>
            <br>
            <input type="text" name="product_pic_link" value=<%=result.product_pic_link %>>
            <br>
        </div>
        <div>
            <label for="">Shop Link</label>
            <br>
            <input type="text" name="link_shop" value=<%=result.link_shop %>>
            <br>
        </div>
        <div>
            <br>
            <input type="submit" value="Update Product">
        </div>
    </form>
</body>

</html>