<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class='shop-nav'>
        <a class='shop-logo' href="/">
            THE DESIGN SHOP
        </a>
    </nav>

    <section class="itemOverview">

        <img src=<%=`${result.product_pic_link}` %> alt="item large image">
        <div>
            <h2 class="brand-name">
                <%= `${result.product}` %>
            </h2>
            <p class='brand-title'>
                <%= `${result.company}` %>
            </p>
            <p class='item-price'>
                Total: <%= `${result.price}` %>
            </p>

            
            <div class="edit">
                <a class="link-btn" href=<%=`/updateItem/${result._id}`%>>
                    Edit
                </a>
                <a class="link-btn" href=<%=`/delete/${result._id}`%>>
                    Delete
                </a>
                <a class="link-btn" target="_blank" href=<%=`${result.link_shop}` %>>
                    Go to Shop
                </a>
            </div>

            </div>

    </section>

</body>

</html>